.addBackground {
    background: url("/images/communitycenter.jpg") center no-repeat;
    background-size: 100%; 
}
.jumbotron {
    color: white;
    height: 500px;
    width: auto;
}
aside {
    padding-top: 50px;
}