h1, h2 {
    color: #056839;
}
.navbar-custom {
    background-color: #056839 !important;
    color: white;
}
#msgDiv {
    font-size: 1.5em;
}
.green {
    color: #056839;
}
.greenBackground {
    background-color: #056839 !important;
    color: white;
    outline: #056839 !important;
}